:host {
    position: relative;

    color: #3b4f63;

    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap: 10px;

    width: 97%;
    height: 160px;

    overflow-x: auto;
    overflow-y: hidden;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    
    padding: 10px;

    @media screen and (min-width: 768px) {
        width: 70%;
        height: 200px;
    }
}

.habit-entry {
    flex-shrink: 0;

    width: 140px;
    height: 140px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(6px);

    border-radius: 30px;

    display: grid;
    place-content: center;
    text-align: center;

    user-select: none;

    &.selected {
        background: rgba(255, 255, 255, 0.85);
    }

    @media screen and (min-width: 768px) {
        width: 180px;
        height: 180px;

        &:not(.selected):hover {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.9);
        }
    }

    & > p {
        font-size: 48px;
        font-weight: 250;

        color: #2c3e50;

        @media screen and (min-width: 768px) {
            font-size: 56px;
        }
    }
}