:host {
    display: block;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    border: none;
    border-radius: 100%;

    height: 50px;
    width: 50px;

    font-size: 30px;

    &:hover {
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }
}

#dec-habit-btn {
    height: 40px;
    width: 40px;

    color: white;
    background-color: #ea0000;

    &:hover {
        background-color: #da0000;
    }

    &:active {
        background-color: #cc0000;
    }

    &:disabled {
        color: lightgray;
        background-color: #aa0000;
    }
}

#inc-habit-btn {
    color: white;
    background-color: #2bba2b;

    &:hover {
        background-color: #23a923;
    }

    &:active {
        background-color: #1a971a;
    }

    &:disabled {
        color: lightgray;
        background-color: green;
    }
}

#habit-value {
    display: inline-block;

    font-size: 72px;
    font-weight: 200;

    width: 120px;
    text-align: center;
}