* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', Arial, sans-serif;
}

body {
    font-family: 'Nunito', Helvetica, sans-serif;
    background-color: #f7f7f7;
}