* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', Arial, sans-serif;
}

body {
    font-family: 'Nunito', Helvetica, sans-serif;
    background: linear-gradient(to bottom, #49a6ff 0%, #9ed7ff 60%,  #49a6ff 100%);

    height: 100vh;

    color: white;
}

app-root {
    height: 100vh;
}